div{
    width: 100%;
    padding: 20px 40px;
    background-color: #fff;
     box-shadow: 0 20px 15px rgb(0 0 0 / 10%);
}

h1{
    font-size: 34px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: .5px;
}